body {
  background: #c4c4c4;
}

.wrap {
  display: flex;
	justify-content: center;
  color: #F5FFFA;
}

.link {
  text-decoration: none;
  font-family: Arial;
  color: #4b0082;
}

.sidebar {
  grid-area: sidebar;
}

.whsLogo {
  padding: 10%;
  width: 80%;
}
