.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.text {
  display: block;
  font-family: Arial;
  color: red;
  text-align: center;
  width: 500px;
}
